## Preprocessing

In [4]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Load the dataset
file_path = 'D:\GitHub REPOS\deep-learning-challenge\charity_data.csv'
charity_data = pd.read_csv(file_path)

# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
charity_data = charity_data.drop(columns=['EIN', 'NAME'])

In [6]:
# Determine the number of unique values in each column.
unique_values = charity_data.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = charity_data['APPLICATION_TYPE'].value_counts()
print("Value counts for 'APPLICATION_TYPE':")
print(application_type_counts)

Value counts for 'APPLICATION_TYPE':
APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
threshold = 100 
# use the variable name `application_types_to_replace`
application_types_to_replace = application_type_counts[application_type_counts < threshold].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [9]:
# Print the list of application types to be replaced
print(application_types_to_replace)

Index(['T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17'], dtype='object', name='APPLICATION_TYPE')

In [10]:
classification_counts = charity_data['CLASSIFICATION'].value_counts()

# Print the value counts for 'CLASSIFICATION'
print("Value counts for 'CLASSIFICATION':")
print(classification_counts)

# Choose a cutoff value and create a list of classifications to be replaced
threshold = 100
classifications_to_replace = classification_counts[classification_counts < threshold].index

# Replace in dataframe
for cls in classifications_to_replace:
    charity_data['CLASSIFICATION'] = charity_data['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure replacement was successful
print("Value counts for 'CLASSIFICATION' after replacement:")
print(charity_data['CLASSIFICATION'].value_counts())

Value counts for 'CLASSIFICATION':
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64
Value counts for 'CLASSIFICATION' after replacement:
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [11]:
# Copy from before
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = charity_data['CLASSIFICATION'].value_counts()

# Print the value counts for 'CLASSIFICATION' where the count is greater than 1
print("Value counts for 'CLASSIFICATION' where count > 1:")
print(classification_counts[classification_counts > 1])

# Choose a cutoff value and create a list of classifications to be replaced
threshold = 100
classifications_to_replace = classification_counts[classification_counts < threshold].index

# Replace in dataframe
for cls in classifications_to_replace:
    charity_data['CLASSIFICATION'] = charity_data['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure replacement was successful
print("Value counts for 'CLASSIFICATION' after replacement:")
print(charity_data['CLASSIFICATION'].value_counts())

Value counts for 'CLASSIFICATION' where count > 1:
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64
Value counts for 'CLASSIFICATION' after replacement:
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [12]:
# Copy from before

# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = charity_data['CLASSIFICATION'].value_counts()

# Choose a cutoff value and create a list of classifications to be replaced
threshold = 100 
classifications_to_replace = classification_counts[classification_counts < threshold].index

# Print the list of classifications to be replaced
print(classifications_to_replace)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

Index([], dtype='object', name='CLASSIFICATION')

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
charity_data_encoded = pd.get_dummies(charity_data)

# Display the first few rows
print(charity_data_encoded.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_T10  APPLICATION_TYPE_T12  \
0       1     5000              1                  True                 False
1       1   108590              1                 False                 False
2       1     5000              0                 False                 False
3       1     6692              1                 False                 False
4       1   142590              1                 False                 False

   APPLICATION_TYPE_T13  APPLICATION_TYPE_T14  APPLICATION_TYPE_T15  \
0                 False                 False                 False
1                 False                 False                 False
2                 False                 False                 False
3                 False                 False                 False
4                 False                 False                 False

   APPLICATION_TYPE_T17  APPLICATION_TYPE_T19  ...  INCOME_AMT_1-9999  \
0                 False                 False  ...              False
1                 False                 False  ...               True
2                 False                 False  ...              False
3                 False                 False  ...              False
4                 False                 False  ...              False

   INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  \
0                   False                     False               False
1                   False                     False               False
2                   False                     False               False
3                    True                     False               False
4                   False                      True               False

   INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  INCOME_AMT_50M+  \
0             False                   False            False
1             False                   False            False
2             False                   False            False
3             False                   False            False
4             False                   False            False

   INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0              False                      True                     False
1              False                      True                     False
2              False                      True                     False
3              False                      True                     False
4              False                      True                     False

[5 rows x 58 columns]

In [14]:
# Split our preprocessed data into our features and target arrays
X = charity_data_encoded.drop(columns=['IS_SUCCESSFUL'])
y = charity_data_encoded['IS_SUCCESSFUL']

# Display the first few rows of the features and target to confirm
print("Features (X):")
print(X.head())
print("Target (y):")
print(y.head())

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the resulting datasets to confirm the split
print(f'Training features shape: {X_train.shape}')
print(f'Testing features shape: {X_test.shape}')
print(f'Training labels shape: {y_train.shape}')
print(f'Testing labels shape: {y_test.shape}')

Features (X):
   STATUS  ASK_AMT  APPLICATION_TYPE_T10  APPLICATION_TYPE_T12  \
0       1     5000                  True                 False
1       1   108590                 False                 False
2       1     5000                 False                 False
3       1     6692                 False                 False
4       1   142590                 False                 False

   APPLICATION_TYPE_T13  APPLICATION_TYPE_T14  APPLICATION_TYPE_T15  \
0                 False                 False                 False
1                 False                 False                 False
2                 False                 False                 False
3                 False                 False                 False
4                 False                 False                 False

   APPLICATION_TYPE_T17  APPLICATION_TYPE_T19  APPLICATION_TYPE_T2  ...  \
0                 False                 False                False  ...
1                 False                 False                False  ...
2                 False                 False                False  ...
3                 False                 False                False  ...
4                 False                 False                False  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0              False                   False                     False
1               True                   False                     False
2              False                   False                     False
3              False                    True                     False
4              False                   False                      True

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0               False             False                   False
1               False             False                   False
2               False             False                   False
3               False             False                   False
4               False             False                   False

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0            False              False                      True
1            False              False                      True
2            False              False                      True
3            False              False                      True
4            False              False                      True

   SPECIAL_CONSIDERATIONS_Y
0                     False
1                     False
2                     False
3                     False
4                     False

[5 rows x 57 columns]
Target (y):
0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64
Training features shape: (27439, 57)
Testing features shape: (6860, 57)
Training labels shape: (27439,)
Testing labels shape: (6860,)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# input features
input_features = X_train.shape[1]

# Define model
model = Sequential()

# 1 hidden layer
model.add(Dense(units=128, activation='relu', input_shape=(input_features,)))

# 2 hidden layer
model.add(Dense(units=64, activation='relu'))

# output layer
model.add(Dense(units=1, activation='sigmoid'))

# structure of the model
model.summary()

c:\Users\nzaat\anaconda4\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 128)            │         7,424 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 64)             │         8,256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            65 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 15,745 (61.50 KB)

 Trainable params: 15,745 (61.50 KB)

 Non-trainable params: 0 (0.00 B)

In [17]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [18]:
# Train the model
history = model.fit(X_train_scaled, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.6981 - loss: 0.5933 - val_accuracy: 0.7349 - val_loss: 0.5496
Epoch 2/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7241 - loss: 0.5569 - val_accuracy: 0.7349 - val_loss: 0.5505
Epoch 3/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7248 - loss: 0.5571 - val_accuracy: 0.7378 - val_loss: 0.5460
Epoch 4/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7345 - loss: 0.5507 - val_accuracy: 0.7362 - val_loss: 0.5478
Epoch 5/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7327 - loss: 0.5472 - val_accuracy: 0.7396 - val_loss: 0.5451
Epoch 6/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7305 - loss: 0.5437 - val_accuracy: 0.7392 - val_loss: 0.5458
Epoch 7/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7364 - loss: 0.5407 - val_accuracy: 0.7372 - val_loss: 0.5446
Epoch 8/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7360 - loss: 0.5442 - val_accuracy: 0.7365 - val_loss: 0.5444
Epoch 9/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7317 - loss: 0.5458 - val_accuracy: 0.7387 - val_loss: 0.5441
Epoch 10/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7359 - loss: 0.5420 - val_accuracy: 0.7371 - val_loss: 0.5454
Epoch 11/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7333 - loss: 0.5435 - val_accuracy: 0.7396 - val_loss: 0.5407
Epoch 12/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7374 - loss: 0.5394 - val_accuracy: 0.7396 - val_loss: 0.5428
Epoch 13/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7302 - loss: 0.5474 - val_accuracy: 0.7398 - val_loss: 0.5438
Epoch 14/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7321 - loss: 0.5389 - val_accuracy: 0.7352 - val_loss: 0.5447
Epoch 15/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7332 - loss: 0.5445 - val_accuracy: 0.7400 - val_loss: 0.5427
Epoch 16/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7350 - loss: 0.5386 - val_accuracy: 0.7362 - val_loss: 0.5423
Epoch 17/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7315 - loss: 0.5444 - val_accuracy: 0.7385 - val_loss: 0.5416
Epoch 18/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7369 - loss: 0.5392 - val_accuracy: 0.7382 - val_loss: 0.5408
Epoch 19/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7351 - loss: 0.5388 - val_accuracy: 0.7387 - val_loss: 0.5414
Epoch 20/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7332 - loss: 0.5439 - val_accuracy: 0.7392 - val_loss: 0.5397
Epoch 21/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7330 - loss: 0.5433 - val_accuracy: 0.7372 - val_loss: 0.5448
Epoch 22/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7426 - loss: 0.5357 - val_accuracy: 0.7402 - val_loss: 0.5398
Epoch 23/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7386 - loss: 0.5350 - val_accuracy: 0.7405 - val_loss: 0.5400
Epoch 24/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7392 - loss: 0.5346 - val_accuracy: 0.7385 - val_loss: 0.5411
Epoch 25/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7363 - loss: 0.5396 - val_accuracy: 0.7387 - val_loss: 0.5416
Epoch 26/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7387 - loss: 0.5334 - val_accuracy: 0.7387 - val_loss: 0.5411
Epoch 27/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7347 - loss: 0.5399 - val_accuracy: 0.7392 - val_loss: 0.5414
Epoch 28/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7379 - loss: 0.5351 - val_accuracy: 0.7392 - val_loss: 0.5437
Epoch 29/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7395 - loss: 0.5359 - val_accuracy: 0.7354 - val_loss: 0.5401
Epoch 30/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7318 - loss: 0.5377 - val_accuracy: 0.7383 - val_loss: 0.5421
Epoch 31/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7382 - loss: 0.5378 - val_accuracy: 0.7396 - val_loss: 0.5407
Epoch 32/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7377 - loss: 0.5370 - val_accuracy: 0.7403 - val_loss: 0.5426
Epoch 33/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7343 - loss: 0.5378 - val_accuracy: 0.7400 - val_loss: 0.5438
Epoch 34/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7404 - loss: 0.5345 - val_accuracy: 0.7392 - val_loss: 0.5424
Epoch 35/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7369 - loss: 0.5379 - val_accuracy: 0.7402 - val_loss: 0.5415
Epoch 36/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7363 - loss: 0.5386 - val_accuracy: 0.7407 - val_loss: 0.5423
Epoch 37/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7402 - loss: 0.5363 - val_accuracy: 0.7403 - val_loss: 0.5427
Epoch 38/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7392 - loss: 0.5356 - val_accuracy: 0.7407 - val_loss: 0.5431
Epoch 39/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7379 - loss: 0.5342 - val_accuracy: 0.7411 - val_loss: 0.5422
Epoch 40/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7421 - loss: 0.5302 - val_accuracy: 0.7396 - val_loss: 0.5452
Epoch 41/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7333 - loss: 0.5402 - val_accuracy: 0.7409 - val_loss: 0.5435
Epoch 42/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7339 - loss: 0.5368 - val_accuracy: 0.7402 - val_loss: 0.5455
Epoch 43/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7307 - loss: 0.5405 - val_accuracy: 0.7391 - val_loss: 0.5429
Epoch 44/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7341 - loss: 0.5380 - val_accuracy: 0.7403 - val_loss: 0.5466
Epoch 45/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7384 - loss: 0.5373 - val_accuracy: 0.7400 - val_loss: 0.5448
Epoch 46/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7405 - loss: 0.5332 - val_accuracy: 0.7392 - val_loss: 0.5435
Epoch 47/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7364 - loss: 0.5354 - val_accuracy: 0.7407 - val_loss: 0.5461
Epoch 48/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7378 - loss: 0.5367 - val_accuracy: 0.7402 - val_loss: 0.5450
Epoch 49/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7458 - loss: 0.5265 - val_accuracy: 0.7416 - val_loss: 0.5443
Epoch 50/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7351 - loss: 0.5381 - val_accuracy: 0.7403 - val_loss: 0.5435

In [19]:
# Evaluate the model using the test data
loss, accuracy = model.evaluate(X_test_scaled, y_test)
print(f'Test Loss: {loss}')
print(f'Test Accuracy: {accuracy}')

215/215 ━━━━━━━━━━━━━━━━━━━━ 0s 784us/step - accuracy: 0.7251 - loss: 0.5568
Test Loss: 0.5584973692893982
Test Accuracy: 0.7269679307937622

In [20]:
# Export our model to HDF5 file
model.save('AlphabetSoupCharity.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.