## Preprocessing

In [15]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
file_path = 'charity_data.csv'
charity_data = pd.read_csv(file_path)
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [17]:

# Load the dataset
file_path = 'charity_data.csv'
charity_data = pd.read_csv(file_path)

# Define the target variable
target = charity_data['IS_SUCCESSFUL']

# Define the feature variables
features = charity_data.drop(columns=['EIN', 'NAME', 'IS_SUCCESSFUL'])

# Drop the 'EIN' and 'NAME' columns
charity_data = charity_data.drop(columns=['EIN', 'NAME'])

# Determine the number of unique values for each column
unique_values = charity_data.nunique()
print(unique_values)

# Combine rare categorical variables
for column in features.select_dtypes(include='object').columns:
    if unique_values[column] > 10:
        # Get counts for each unique value
        value_counts = charity_data[column].value_counts()
        # Set cutoff for rare values
        cutoff = 100
        # Replace rare values with 'Other'
        charity_data[column] = charity_data[column].apply(lambda x: x if value_counts[x] >= cutoff else 'Other')

# Check if the replacement was successful
print(charity_data['APPLICATION_TYPE'].value_counts())

# Encode categorical variables
charity_data = pd.get_dummies(charity_data)

# Define the features and target arrays
X = charity_data.drop(columns=['IS_SUCCESSFUL'])
y = charity_data['IS_SUCCESSFUL']

# Split the data into training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the training data and transform it
X_train_scaled = scaler.fit_transform(X_train)

# Transform the testing data
X_test_scaled = scaler.transform(X_test)

# Print out the shapes of the datasets to ensure they are correct
print(f'Training features shape: {X_train_scaled.shape}')
print(f'Testing features shape: {X_test_scaled.shape}')
print(f'Training labels shape: {y_train.shape}')
print(f'Testing labels shape: {y_test.shape}')

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64
APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64
Training features shape: (27439, 50)
Testing features shape: (6860, 50)
Training labels shape: (27439,)
Testing labels shape: (6860,)

In [18]:
# Determine the number of unique values in each column.
unique_values = charity_data.nunique()
print(unique_values)

STATUS                             2
ASK_AMT                         8747
IS_SUCCESSFUL                      2
APPLICATION_TYPE_Other             2
APPLICATION_TYPE_T10               2
APPLICATION_TYPE_T19               2
APPLICATION_TYPE_T3                2
APPLICATION_TYPE_T4                2
APPLICATION_TYPE_T5                2
APPLICATION_TYPE_T6                2
APPLICATION_TYPE_T7                2
APPLICATION_TYPE_T8                2
APPLICATION_TYPE_T9                2
AFFILIATION_CompanySponsored       2
AFFILIATION_Family/Parent          2
AFFILIATION_Independent            2
AFFILIATION_National               2
AFFILIATION_Other                  2
AFFILIATION_Regional               2
CLASSIFICATION_C1000               2
CLASSIFICATION_C1200               2
CLASSIFICATION_C1270               2
CLASSIFICATION_C1700               2
CLASSIFICATION_C2000               2
CLASSIFICATION_C2100               2
CLASSIFICATION_C2700               2
CLASSIFICATION_C3000               2
CLASSIFICATION_C4000               2
CLASSIFICATION_C5000               2
CLASSIFICATION_C7000               2
CLASSIFICATION_Other               2
USE_CASE_CommunityServ             2
USE_CASE_Heathcare                 2
USE_CASE_Other                     2
USE_CASE_Preservation              2
USE_CASE_ProductDev                2
ORGANIZATION_Association           2
ORGANIZATION_Co-operative          2
ORGANIZATION_Corporation           2
ORGANIZATION_Trust                 2
INCOME_AMT_0                       2
INCOME_AMT_1-9999                  2
INCOME_AMT_10000-24999             2
INCOME_AMT_100000-499999           2
INCOME_AMT_10M-50M                 2
INCOME_AMT_1M-5M                   2
INCOME_AMT_25000-99999             2
INCOME_AMT_50M+                    2
INCOME_AMT_5M-10M                  2
SPECIAL_CONSIDERATIONS_N           2
SPECIAL_CONSIDERATIONS_Y           2
dtype: int64

In [19]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
# Load the dataset
file_path = 'charity_data.csv'
charity_data = pd.read_csv(file_path)

# Drop the 'EIN' and 'NAME' columns
charity_data = charity_data.drop(columns=['EIN', 'NAME'])

# Determine the value counts for 'APPLICATION_TYPE'
application_type_counts = charity_data['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

# Set a threshold to identify rare application types
threshold = 100  # For example, you can choose 100 as a threshold

# Replace rare application types with 'Other'
application_types_to_replace = application_type_counts[application_type_counts < threshold].index
charity_data['APPLICATION_TYPE'] = charity_data['APPLICATION_TYPE'].apply(lambda x: 'Other' if x in application_types_to_replace else x)

# Check the value counts after replacement
print(charity_data['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64
APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [21]:
# Choose a cutoff value and create a list of application types to be replaced
threshold = 100
application_types_to_replace = application_type_counts[application_type_counts < threshold].index
# use the variable name `application_types_to_replace`
application_type_counts = charity_data['APPLICATION_TYPE'].value_counts()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [23]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = charity_data['CLASSIFICATION'].value_counts()
print(classification_counts)
# cutoff value and create a list of classifications to be replaced
threshold = 100
classifications_to_replace = classification_counts[classification_counts < threshold].index

# Replace in dataframe
for cls in classifications_to_replace:
    charity_data['CLASSIFICATION'] = charity_data['CLASSIFICATION'].replace(cls, "Other")

# replacement was successful
print(charity_data['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [24]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = charity_data['CLASSIFICATION'].value_counts()
print(classification_counts[classification_counts > 1])

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [27]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [25]:
# Convert categorical data to numeric with `pd.get_dummies`
for cls in classifications_to_replace:
    charity_data['CLASSIFICATION'] = charity_data['CLASSIFICATION'].replace(cls, "Other")
print(charity_data['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [26]:
# Convert categorical data to numeric with pd.get_dummies
charity_data_encoded = pd.get_dummies(charity_data)

# Display the first few rows of the encoded dataframe
print(charity_data_encoded.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                   False
1       1   108590              1                   False
2       1     5000              0                   False
3       1     6692              1                   False
4       1   142590              1                   False

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                  True                 False                False
1                 False                 False                 True
2                 False                 False                False
3                 False                 False                 True
4                 False                 False                 True

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                False                False                False  ...
1                False                False                False  ...
2                False                 True                False  ...
3                False                False                False  ...
4                False                False                False  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0              False                   False                     False
1               True                   False                     False
2              False                   False                     False
3              False                    True                     False
4              False                   False                      True

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0               False             False                   False
1               False             False                   False
2               False             False                   False
3               False             False                   False
4               False             False                   False

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0            False              False                      True
1            False              False                      True
2            False              False                      True
3            False              False                      True
4            False              False                      True

   SPECIAL_CONSIDERATIONS_Y
0                     False
1                     False
2                     False
3                     False
4                     False

[5 rows x 51 columns]

In [29]:
# Split our preprocessed data into our features and target arrays
X = charity_data_encoded.drop(columns=['IS_SUCCESSFUL'])
y = charity_data_encoded['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Display the first few rows of the features and target
print(X.head())
print(y.head())
print(f'Training features shape: {X_train.shape}')
print(f'Testing features shape: {X_test.shape}')
print(f'Training labels shape: {y_train.shape}')
print(f'Testing labels shape: {y_test.shape}')

   STATUS  ASK_AMT  APPLICATION_TYPE_Other  APPLICATION_TYPE_T10  \
0       1     5000                   False                  True
1       1   108590                   False                 False
2       1     5000                   False                 False
3       1     6692                   False                 False
4       1   142590                   False                 False

   APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
0                 False                False                False
1                 False                 True                False
2                 False                False                False
3                 False                 True                False
4                 False                 True                False

   APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  ...  \
0                False                False                False  ...
1                False                False                False  ...
2                 True                False                False  ...
3                False                False                False  ...
4                False                False                False  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0              False                   False                     False
1               True                   False                     False
2              False                   False                     False
3              False                    True                     False
4              False                   False                      True

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0               False             False                   False
1               False             False                   False
2               False             False                   False
3               False             False                   False
4               False             False                   False

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0            False              False                      True
1            False              False                      True
2            False              False                      True
3            False              False                      True
4            False              False                      True

   SPECIAL_CONSIDERATIONS_Y
0                     False
1                     False
2                     False
3                     False
4                     False

[5 rows x 50 columns]
0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64
Training features shape: (27439, 50)
Testing features shape: (6860, 50)
Training labels shape: (27439,)
Testing labels shape: (6860,)

In [30]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [38]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()
input_features = X_train.shape[1]


# First hidden layer
model.add(Dense(units=128, activation='relu', input_dim=input_features))

# Second hidden layer
model.add(Dense(units=64, activation='relu'))

# Output layer
model.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()
model.summary()

NameError: name 'model' is not defined

In [39]:
# Compile the model
#  YOUR CODE GOES HERE

In [37]:
# Train the model
#  YOUR CODE GOES HERE

NameError: name 'model' is not defined

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE